.ui-button {
	margin-top: 10px;
	margin-bottom: 10px;
}
canvas {
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid black;
}
#canvasWrapper {
	position: relative;
	width: 1000px;
	height: 700px;
	margin-right: inherit;
	margin-left: inherit;
}
#info {
	margin-top: 10px;
}
.row {
	margin-top: 10px;
}
/* A voir */
.dark {
	background-color: #333;
	color: lightgrey;
}