#ui {
	background-color: grey;
	display: inline-flex;
	position: absolute;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}
#ui .block {
	padding-left: 10%;
/*	display: inline-flex;*/
}
#ui .block:last-child {
	padding-right: 10%;
}
.ui-button {
	max-width: 100px;
	margin-left: 10px;
}
canvas {
	border: 1px solid black;
	margin-top: 50px;
	width: 100%;
	height: 100%;
}