#ui {
	margin-top: 10px;
}
.ui-button {
	margin-bottom: 10px;
}
canvas {
	border: 1px solid black;
	margin-top: 10px;
	/*width: 100%;*/
	/*height: auto;
	max-height: 900px;*/
}
#info {
	border: 1px solid black;
}